<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>{{.Title}}</title>
		<style>
			h1 {
				background: #ddd;
			}
		</style>
	</head>
	<body>
		<h1>{{.Title}}</h1>
		<div id="content">
			{{block "content" .}}
			<ul>
				{{- range .Links}}
				<li><a href="{{.URL}}">{{.Title}}</a></li>
				{{- end}}
			</ul>
			{{end}}
		</div>
	</body>
</html>
